<a href="https://colab.research.google.com/github/dharaadhvaryu/Django-api-example/blob/master/pythonbasic_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day2

Agenda

Continue Operators
Control Statements
  IF
  IF-ELSE
  IF-ELIF-ELSE
LOOPS
  while loops
  For loops

  Range()

In [ ]:
#len()-> returns the length of the string

name = "Johnson"
print(len(name))

7

Comparison operators
(>,<,>=,<=,==,!=)

In [ ]:
student1 = 90
student2 = 90
print(student1 > student2)

False

In [ ]:
student1 == student2

True

In [ ]:
print(3>2)
print(3<2)
print(3==2)
print(3!=2)

True
False
False
True

In [ ]:
print(len('python')>len('dragon'))

False

is: Return true if both variables are same
is not : Return true if both variables are different

1.   List item
2.   List item

In [ ]:
x = 5
y = 6
print(x is not y)

True

In [ ]:
a = 'Rejo'
b= 'Rejo'
print(a is b)

True

In [ ]:
len('mango') < len('avacado')

True

Assignment Operators
x = 5
x+=3      x = x+3
x-=3      x = x-3
x*=3      x=x*3
x/=3      x=x/3

In [ ]:
x=1
x+=3
print(x)

4

In [ ]:
x=5
x**=2
print(x)

25

Logical Operators - keywords like and , or,not
it is used to combine conditional statements

and - if all conditions are applied it returns True
or - atleast one of them should be applied or correct then it return True
not - reverse the result

In [ ]:
3>2 and 3<4

True

In [ ]:
3<2 or 3<4

True

In [ ]:
not(3<2 or 3<4)

False

In [ ]:
print(not True)
print(not not True)

False
True

In [ ]:
#bool()
#Every number except 0 in bool() is True
#Every non empty string is True

In [ ]:
print(bool(1))
print(bool(0))
print(bool(-12))

True
False
True

In [ ]:
print(bool('abcd'))
print(bool(''))
print(bool(' '))

True
False
True

1.Find the Length of two given words and compare it
2.Find the len of text and convert it to float and then to string
3.check if type of 10 is equal to type of '10'

In [ ]:
#2
text1 = 'bombay'
x = str(float(len(text1)))
print(x)
print(type(x))

6.0
<class 'str'>

In [ ]:
#3
print(type(10)==type('10'))

False

Control Statements
 - We use control statements to help computer make decision based on conditions

 If Condition
 keyword if is used to check whether given condition is true or not

In [ ]:
#syntax
# if condition:
#     print()

#Indentation in python is a way of grouping related code together forming it one block of code.
# It refers to the space at the begining of the code line
#same spacing for all statements that are together

In [ ]:
if 3>2:
  print('True')
  print('3 is greater than 2')
print(1)

True
3 is greater than 2
1

In [ ]:
age = 2
if age>=18:
  print('eligible')

In [ ]:
print(1)#it will always be printed
if 10>20:
  print(2)
  print(10)
print('Done') #It will always be printed

1
Done

if condition:
    statements ---> if block
else:
    statements ----> else block

In [ ]:
age = int(input('Enter the user age'))
if age>=18:
  print('eligible to vote')
else:
  print('not eligible to vote')

Enter the user age12
not eligible to vote

In [ ]:
a = 2
res = a**5
if res>25:
  print('Greater value')
else:
  print('smaller value')
print(res)

Greater value
32

Check  if the given number is even or odd

In [ ]:
num = int(input())
if num%2==0:
  print('even number')
else:
  print('odd number')

4
even number

In [ ]:
username = 'xyz'
password = '123@xyz'
if password == '123@xyz':
  print('welcome')
else:
  print('password is incorrect')

welcome

In [ ]:
password = input('enter new password')
if len(password)>6:
  print('valid password')
else:
  print('give password more than 6 letters')

enter new password123@ss
give password more than 6 letters

If ELIF ELSE
syntax

if condition:
  code      ----> if block
elif condition:
  code     -----> elif block
else:
  code     -----> else block

In [ ]:
a = int(input())
if a>0:
  print('positive integer')
elif a<0:
  print('negative integer')
else:
  print('it is zero')

0
it is zero

Do greeting based on different time zone of the particular day

In [ ]:
time = int(input())
if time>00 and time<12:
  print('Good Morning')
elif time>=12 and time<16:
  print('Good Afternoon')
elif time>=16 and time<20:
  print('Good Evening')
else:
  print('Good Night')

7
Good Morning

Nested if -> It is an if statement placed inside another if statement .This allows you to check multiple conditions in hierachial manner .

if condition1:
  if condition2:
     execute this if condition2 is satisfied
     inner block of code
  else:
     execute this if condition is not satisfied
else:
    execute this if condition 1 is not satisfied.

In [ ]:
performance = "Excellent"
years_of_experience = 5
if performance=='Excellent':
  if years_of_experience>=5:
    bonus=1000
  else:
    bonus = 500
elif performance =='Good':
  if years_of_experience>=5:
    bonus = 700
  else:
    bonus = 300
else:
  if years_of_experience>=5:
    bonus = 400
  else:
    bonus = 200

print(f'the bonus is ${bonus}')

the bonus is $1000

In [ ]:
a = 2
if a>0 and a%2==0:
  print('a is even and positive integer')
elif a>0 and a%2!=0:
  print('a is odd and positive integer')
elif a==0:
  print('a is condition')
else:
  print('a is negative integer')

a is even and positive integer

Loops
while loop
for loop

In [ ]:
#while 1.Initialization2.condition3.action4.updation
count = 0  # initialization
while count<5:
  print('click')
  count = count +1 #updation #count+=1
print('Done')

click
click
click
click
click
Done

In [ ]:
#print the number from 1 to 5
num = 1
while num<=5:
  print(num,end = ' ')
  num+=1

print('numbers are Done')
print(1,2,3,4,sep='|')

1 2 3 4 5 numbers are Done
1|2|3|4

In [ ]:
#list -> it is collection of items
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#range()-> Returns a range of integers  # range(start,end,step)
print(range(5))

for val in range(5):
  print(val,end=' ')
print()
for v in range(0,6,2):
  print(v,end=' ')

range(0, 5)
0 1 2 3 4
0 2 4