<a href="https://colab.research.google.com/github/dharaadhvaryu/Django-api-example/blob/master/pythonBasics3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Today's Agenda
-> For loop
->break and continue statement
->Functions
->List

In [1]:
print(range(5))

range(0, 5)

Range()-> It is a function which generates a sequence of numbers.It is mainly used in loops to iterate over specific number of times .
range(start,stop,step)
start - starting value from where u want to start the range
stop - value where you want to end .It is not inclusive
step - how it will jump over numbers

In [2]:
print(list(range(5))) #01234   n -> n-1

[0, 1, 2, 3, 4]

In [4]:
print(list(range(1,11,2))) #all odd values

[1, 3, 5, 7, 9]

In [7]:
for value in range(1,11,1):
  print(value)

1
2
3
4
5
6
7
8
9
10

In [8]:
print(range(1,11,1))

range(1, 11)

In [9]:
arr = [1,2,3]  #array as variable containing multiple elements of same data type
for value in arr:
  print(value)

1
2
3

In [11]:
name = "Tanya"
for c in name:
  print(c)

T
a
n
y
a

For loop -> It is used to iterate over a sequence or collection of elements (list,tuple,strings,range) and execute a code of block for each element in the sequence.
for(i=0;i<n;i++)

Syntax
for variable in sequnce:
  print(variable)
variable -> which hold current element or element of sequence

In [12]:
#Nested loop
for i in range(4):#0,1,2,3
  for j in range(3):#0,1,2
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

In [17]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
for row in matrix:
  #for ele in row:
    print(row,end='')

[1, 2, 3][4, 5, 6][7, 8, 9]

Break and continue
It is used to alter the flow of loop
Break -> Break statement terminates the loop immediately whenever it is encountered

Continue -> Continue statement skips the current iteration of the loop and current flow of the program goes to next statement

In [18]:
for i in range(5):
  if i==3:
    break
  print(i)

0
1
2

In [20]:
for i in range(8):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7

Functions -> Function is a block of code written to complete a task .It runs when called externally and it return data as a result

print() #calling a print function
len()
type()
Abstraction-> hide implementation details providing higher level of view.
Parametrisation: functions accepts parameters ,
makes them versatile and adaptable to all inputs
Organizing code: They help us organize code into logical blocks improving readablility and maintainability .

Functions in python are essential for  structuring a program,improving code readability ,promoting reuse of code and enhancing maintability


In python Function is defined by using def keyword

In [ ]:
#syntax
"""
def function_name(parameters):
  statements -->block of code    ---> declaring a function or defining function
  return
"""
#function_name(name) -> calling a function

In [21]:
def greet():                                  #Function without paramters
  print("Hello Everyone")   #-> declaration

greet() #->calling greet function

Hello Everyone

Function without parameters .
Function with paramters.
Function with return statement .
Function with multiple parameters.
Function with arbitary parameters .

In [22]:
def print_number(): #function without parameter
  for i in range(5):
    print(i,end = ' ')

print_number()

0 1 2 3 4

In [23]:
def print_number(n):  #passing a paramter
  for i in range(n):
    print(i,end=' ')

print_number(10)

0 1 2 3 4 5 6 7 8 9

In [26]:
def greet(name):
  print(f"hello good evening {name}")

#name = input()
greet('rejo')

hello good evening rejo

In [27]:
def add(a,b):
  res = a + b
  print(res)

add(10,20)

30

In [28]:
def info_student(name,lastname,age):
  print(f"Name:{name} Lastname:{lastname} Age:{age}")

info_student('diana','tam',37)

Name:diana Lastname:tam Age:37

In [31]:
#function using return statement

def add(a,b):
  return a+b

print(add(10,20))  #return value can be  stored in a variable , used in expression or passed to other function
print(add(10,30)+40)

30
80

In [33]:
def square_number(x):
  return x*x

print(square_number(4))
for i in range(5):
  print(square_number(i))

16
0
1
4
9
16

In [ ]:
def function_name():
  pass          #pass act as placeholder for future code

In [35]:
def area_circle(pi=3.14,radius = 6):
  return pi*radius*radius

print(area_circle())

113.03999999999999

calculate area of circle and return answer

Arbitary functions in python refers to functions that can accept arbitary arguments .It is useful when u dont know how many arguments might be passed into fucntions

Two main ways to handle arbitary arguments
- *args allows function to accept any number of positional arguments.Inside the functional args is a tuple containing all the positional arguments passed

**Kwargs -> It allows a function to accept any number of keyword arguments inside the function.It is dictionary containing all keyword arguments passed

In [40]:
def print_numbers(*args):
  print(args)
print_numbers([1,2,3])

([1, 2, 3],)

In [43]:
def greet(*names):
  for name in names:
    print(f"Hello {name}")

greet("dhruv","Gaurav")

Hello dhruv
Hello Gaurav

In [44]:
def display_info(**info):
  for key,value in info.items():
    print(f"{key}:{value}")

display_info(name = "Alice",age = 30,city = "Newyork")

name:Alice
age:30
city:Newyork

logging

In [45]:
def combined_arguments(*args,**kwargs):
  print(args)
  print(kwargs)
combined_arguments(1,2,3,name="Liva",age = 80)

(1, 2, 3)
{'name': 'Liva', 'age': 80}

In [ ]:
#write a function to calculate age of a person
#wrire a function to check if it is a prime number

In [47]:
def print_number(n):
  for i in range(n):
    print(i,end=' ')

print_number(10)

0 1 2 3 4 5 6 7 8 9

1)write a program to print fibonnaci series
2)write a program to sum the numbers using arbitary arguments
3) write a program to convert C to F ie celcius to Fahrenheit F=(c*9/5)+32