<a href="https://colab.research.google.com/github/dharaadhvaryu/Django-api-example/blob/master/pythonbasic4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Today's Agenda
-->Lambda Function
-->List
-->Tuple
-->Strings

Lambda Function -> It is consice way of write anonymous function .They are particularly used in sorting,Filtering ,mapping and in GuI and data processing
It uses Lambda Keyword

lambda arguments:expression

In [4]:
add = lambda x,y,z:x+y+z
add(8,7,9)

24

In [5]:
a = lambda x:x**2
a(5)

25

List
-> List is an ordered collection of data
-> It is dynamic
-> List can multiple datatypes
-> List are created using [] brackets
-> List are mutable.
->List can be accesed by index

In [6]:
list1 = [] #empty list
list1 = [1,2,3,4,5]
runs_sachin = [50,100,60,70,100,78,90,100,101] #index starts from 0
runs_sachin[1] #2 match

100

In [8]:
print(runs_sachin[0])
print(runs_sachin[1])
print(runs_sachin[2])
print(runs_sachin[3])
print(runs_sachin[4])
print(runs_sachin[5])
print(runs_sachin[6])
print(runs_sachin[7])
print(runs_sachin[8])

#index value starts from 0 to n-1
#positional starts from 1 to n

50
100
60
70
100
78
90
100
101

In [9]:
#len() - length of list
len(runs_sachin)

9

In [10]:
runs_sachin[len(runs_sachin)-1] #last element of the list

101

In [12]:
#negative indexing
runs_sachin[-1] #last element
print(runs_sachin[-2]) #second last element
print(runs_sachin[-3])
print(runs_sachin[-4])
print(runs_sachin[-5])
print(runs_sachin[-6])
print(runs_sachin[-7])
print(runs_sachin[-8])
print(runs_sachin[-9])
#

100
90
78
100
70
60
100
50

In [13]:
for i in runs_sachin:
  print(i)

50
100
60
70
100
78
90
100
101

In [15]:
def sum_of_scores(runs_sachin):
  return sum(runs_sachin)

sum_of_scores(runs_sachin)

749

In [18]:
#append(x) -> It will add item to the end of the list
runs_sachin.append(89)
runs_sachin

[50, 100, 60, 70, 100, 78, 90, 100, 101, 89, 89, 89]

In [23]:
l1 = []
l1.append(3)
l1
l1.append(9)
l1

[3, 9]

In [26]:
#insert :-> It inserts value at specific position
print(l1)
l1.insert(0,2)
#l1

[2, 3, 9]

[2, 2, 3, 9]

In [27]:
mylist = [1,2,34,5,6,7]
mylist.insert(2,3)
mylist

[1, 2, 3, 34, 5, 6, 7]

In [28]:
#Extend(iterable): It adds all elements of iterables to existing list
num =[.9,.8,.6]
mylist.extend(num)
mylist

[1, 2, 3, 34, 5, 6, 7, 0.9, 0.8, 0.6]

In [29]:
a1 = ['a','b']
a2 =['c','d']

['a', 'b', 'c', 'd']

In [ ]:
#removing of element from list
#pop([index]) ->It removes and return item at the given index
mylist.pop(3)

34

In [32]:
mylist.append(34)
mylist

[1, 2, 3, 5, 6, 7, 0.9, 0.8, 0.6, 34, 34]

In [33]:
mylist.pop()

34

pop(index)          It is return a value
pop()->last element

remove(value) -> It removes and does not returns the value and it will remove first occurence of your value

In [37]:
mylist
#mylist.remove(34)

[1, 2, 3, 5, 6, 7, 0.9, 0.8, 0.6]

In [38]:
#clear function :- It removes all elements from the list
mylist.clear()
mylist

[]

In [40]:
mylist.append(2)
mylist

[2]

In [42]:
my_cars = ['BMW','Volvo','Fortuner']
my_cars[2] = 'Audi'
my_cars

['BMW', 'Volvo', 'Audi']

In [43]:
runs_sachin

[50, 100, 60, 70, 100, 78, 90, 100, 101, 89, 89, 89]

In [46]:
#searchin with index(x)   #index function is used to give index value of any element in list
print(runs_sachin.index(89))
print(runs_sachin.index(100))
#runs_sachin.index(100) = 34
runs_sachin[runs_sachin.index(100)] = 34

9
1

In [47]:
runs_sachin

[50, 34, 60, 70, 100, 78, 90, 100, 101, 89, 89, 89]

In [48]:
#count() #It returns the number of occurence of that element in the list
runs_sachin.count(89)

3

In [49]:
runs = runs_sachin.copy() #copy function will copy the list and original list is not affected when any changes mmade on another list
runs

[50, 34, 60, 70, 100, 78, 90, 100, 101, 89, 89, 89]

In [50]:
runs.sort() #sort the list in place
runs

[34, 50, 60, 70, 78, 89, 89, 89, 90, 100, 100, 101]

In [51]:
runs

[34, 50, 60, 70, 78, 89, 89, 89, 90, 100, 100, 101]

In [54]:
sorted(runs_sachin)

[34, 50, 60, 70, 78, 89, 89, 89, 90, 100, 100, 101]

In [55]:
runs_sachin

[50, 34, 60, 70, 100, 78, 90, 100, 101, 89, 89, 89]

In [64]:
#Slicing -> IT is a way to acces a subpart of your list
#slicing   ->listname[start:stop:step]
my_num = [0,1,2,3,4,5,6,7,8,9,10]
print(my_num[0:3])
print(my_num[3:8])
print(my_num[2:]) #till end
print(my_num[::]) #full list
print(my_num[::2])
print(my_num[::-1]) #reverse a list
print(my_num[2:-2:2])

[0, 1, 2]
[3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[2, 4, 6, 8]

In [67]:
#membership operator in  and not in
print(10 in my_num)
print(100 in my_num)

True
False

In [70]:
print(list(range(len(my_num))))
for index in range(len(my_num)):
  print(index,'->',my_num[index])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
0 -> 0
1 -> 1
2 -> 2
3 -> 3
4 -> 4
5 -> 5
6 -> 6
7 -> 7
8 -> 8
9 -> 9
10 -> 10

In [71]:
list1 = [10,20,30,40,50]
for index in range(len(list1)-1,-1,-1):
  print(list1[index])

50
40
30
20
10

In [73]:
print(max(list1))
print(min(list1))

50
10

Write a program to give second largest number of the list
write a program to remove duplicates from the list

Tuple
Tuple is a collected of ordered and immutable data
Tuple is created using ()

In [75]:
mytuple = ()#empty tuple
mytuple = ("Max",28,"Boston")
tup = (9)
print(type(tup))
tup1 = (9,)
print(type(tup1))

<class 'int'>
<class 'tuple'>

In [76]:
print(mytuple[0])
print(mytuple[1])
print(mytuple[2])

Max
28
Boston

In [77]:
for i in mytuple:
  print(i)

Max
28
Boston

In [79]:
if "Max" in mytuple:
  print("yes")
else:
  print("Not present")

yes

In [87]:
str1 = "Max"
print(type(str1))

<class 'str'>

In [80]:
#length of the tuple
len(mytuple)

3

In [82]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('a'))

2
0

In [83]:
str1 = "Tanya"
print(tuple(str1))

('T', 'a', 'n', 'y', 'a')

In [89]:
print(list(my_tuple))
#print(str(my_tuple))

['a', 'p', 'p', 'l', 'e']

In [93]:
#packing and unpacking of values
a = (1,2,3)
x,y,z = a #unpacking values
print(x)
print(y)
print(z)

1
2
3

In [96]:
a = tuple(range(11))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [97]:
print(a[0:3])
print(a[1:])
print(a[::2])
print(a[::-1])

(0, 1, 2)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(0, 2, 4, 6, 8, 10)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [101]:
#write a program to find product of all elements in tuple
a1 = (1,2,3,4,5)
prod = 1
for i in a1:
  prod = prod*i
print(prod)

120

In [103]:
l1 = [10,20,30,40,50]

for i in l1:
  j= i*i
  print(j)

100
400
900
1600
2500